apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: ec2-apps
  labels:
    app: frontend-service
spec:
  selector:
    app: frontend-service
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  type: ClusterIP