
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kq-flight-cargo-deployment
  namespace: dukqa-apps
  labels:
    app: kq-flight-cargo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kq-flight-cargo
  template:
    metadata:
      labels:
        app: kq-flight-cargo
    spec:
      serviceAccountName: kq-flight-cargo-sa
      initContainers:
        - name: wait-for-postgres
          image: busybox
          command: ['sh', '-c', 'until nc -z postgres 5432; do echo "Waiting for DB..."; sleep 3; done']
      containers:
        - name: kq-flight-cargo
          image: 746387399274.dkr.ecr.us-east-1.amazonaws.com/dukqa/kq-flight-cargo-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: kq-flight-cargo-config
            - secretRef:
                name: kq-flight-cargo-secrets
          resources:
            requests:
              cpu: 150m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 15

