apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: ec2-apps
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http

