apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-deployment
  namespace: dukqa-apps
  labels:
    app: notifications
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      serviceAccountName: kq-flight-cargo-sa
      containers:
        - name: notifications
          image: 746387399274.dkr.ecr.us-east-1.amazonaws.com/dukqa/notifications-service:latest
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: notifications-config
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi

