apiVersion: v1
kind: Service
metadata:
  name: notifications-service
  namespace: dukqa-apps
spec:
  type: ClusterIP
  selector:
    app: notifications
  ports:
    - port: 80
      targetPort: 8081

